<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Create book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }
        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function saveBook() {
            const titleInput = document.getElementById("title").value
            const genreInput = $("#genreId option:selected").attr("id")
            const authorInput = $("#authorId option:selected").attr("id")
            const book = {
                title: String(titleInput),
                authorId: String(authorInput),
                genreId: String(genreInput)
            }
            fetch("/books", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)
            })
                .then(() => window.location.href = '/')

        }
    </script>
</head>
<body>

<form id="save-form" action="createBook.html" th:method="POST">
    <h3>Create Book:</h3>
    <div th:insert="~{formData::copy}"></div>
</form>


<script>
    $(function () {
        $.get('/genres').done(function (genres) {
            genres.forEach(function (genre) {
                const genreId = genre.id;
                const genreName = genre.name;
                $('#genreId')
                    .prepend(`<option id="${genreId}">${genreName}</option>`);
            });
        })
    });
    $(function () {
        $.get('/authors').done(function (authors) {
            authors.forEach(
                function (author) {
                    const fullName = author.firstName + ' ' + author.lastName;
                    $('#authorId')
                        .prepend(`<option id="${author.id}">${fullName}</option>`);
                });
        })
    });
</script>
</body>
</html>
