<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function saveBook() {
            const bookId = document.getElementById("bookId").value
            const titleInput = document.getElementById("title").value
            const genreInput = $("#genreId option:selected").attr("id")
            const authorInput = $("#authorId option:selected").attr("id")
            const book = {
                id: Number(bookId),
                title: String(titleInput),
                authorId: Number(authorInput),
                genreId: Number(genreInput)
            }
            fetch("/books", {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)
            })
                .then(() => window.location.href = '/')

        }

        function deleteBook() {
            const bookId = document.getElementById("bookId").value
            const url = "/books" + "?id=" + bookId
            fetch(url, {
                method: 'DELETE'
            })
                .then(() => window.location.href = '/')
        }
    </script>
</head>
<body>

<form id="edit-form" action="editBook.html" th:action="@{/edit(id=${bookId})}" th:method="PUT">

    <div class="row">
        <input id="bookId" hidden name="bookId" type="text" readonly="readonly" th:value="${bookId}" value="1"/>
    </div>

    <h3>Book Info:</h3>
    <p th:name="bookId" th:value="${bookId}"></p>
    <div th:insert="~{formData::copy}"></div>
</form>


<div class="row">
    <button type="submit"  onclick="deleteBook()">Delete</button>
</div>


<script>
    $(function () {
        $.get('/genres').done(function (genres) {
            genres.forEach(function (genre) {
                const genreId = genre.id;
                const genreName = genre.name;
                $('#genreId')
                    .prepend(`<option id="${genreId}">${genreName}</option>`);
            });
        })
    });
    $(function () {
        $.get('/authors').done(function (authors) {
            authors.forEach(
                function (author) {
                    const fullName = author.firstName + ' ' + author.lastName;
                    $('#authorId')
                        .prepend(`<option id="${author.id}">${fullName}</option>`);
                });
        })
    });
    $(function () {
        const bookId = document.getElementById("bookId").value
        const url = "/books/" + bookId;
        $.get(url).done(
            function (book) {
                const currentTitle = document.getElementById("title").value
                $('#title').val(function (index, value) {
                    return value.replace(currentTitle, book.title);
                })
                const bookGenre = book.genreName
                $('#genreId option:contains('+ bookGenre +')').prop('selected', true);
                const fullNameAuthor = book.firstNameAuthor + ' ' + book.lastNameAuthor;
                $('#authorId option:contains(' + fullNameAuthor +')').prop('selected', true);
            }
        )
    });
</script>
</body>
</html>
